.grid-container{
    width: 300px;
    height: 300px;
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
}
.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1.5rem;
}
.coin-logo{
    height: 3.5rem;
    width: 3.5rem;
    
}
.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.coin-name{
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 1rem;
    margin: 0;
}
.chip-flex{
    display:flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 1.5rem;
}
.price-chip{
    border: 2px solid var(--green);
    border-radius: 1.90rem;
    padding: 0.35rem 1.25rem;
    color: var(--green);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    min-width: 64px;
}

.chip-red{
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}
.price-chip:hover,.icon-chip:hover{
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s;

}
.chip-red:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;

}
.icon-chip{
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 2rem !important;
    width: 2rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-size: 1.1rem;
}
.info-container{
    margin: 1.5rem;
}
.coin-price{
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
}
.total_volume{
    color: var(--grey);
    font-weight: 500;
    font-size: 1rem;
}
.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}
.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
}