.header {
    width: 100%;
    color: #fff;
    background-color: #000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color: var(--black);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100; 
}
.logo {
    font-size: 1.2rem;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link {
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;

}
.link:hover {
    color: var(--white);
    font-weight: 600;
    

}
.mobile-drawer {
    display: none;
}

@media only screen and (max-width: 800px) {

    .navbar{
        padding: 1.5rem;
    }



    .logo{
        font-size: 1rem;;
    }
    .links {
      display: none;
    }
    .mobile-drawer {
        display: block;
    }

    .drawer-div {
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;

    }
  }