.flex-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
}

.track-crypto {
    font-size: 6.5rem;
    margin: 0;
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
}

.track-crypto:hover {
    color: var(--black);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    transition: all 0.3s;
}

.real-time {
    font-size: 6.5rem;
    margin: 0;
    color: var(--blue);
}

.info-text {
    font-size: 1rem;
    color: var(--grey);
}

.btn-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.phone-container {
    width: 50%;
    position: relative;
    padding: 1rem;
}

.iphone {
    position: absolute;
    z-index: 100;
    min-width: 250px;
    width: 45%;
    right: 0;
}

.gradient {
    position: absolute;
    min-width: 200px;
    width: 36%;
    top: 7rem;
    right: 0;
}

@media only screen and (max-width: 1250px) {
    .track-crypto {
        font-size: 5rem;
        margin: 0;
    }
    .real-time {
        font-size: 5rem;
        margin: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .iphone {
        max-width: 250px;
    }
    .gradient {
        max-width: 200px;
        top: 6rem;
    }
}

@media only screen and (max-width: 800px) {
    .flex-info {
        flex-direction: column;
    }
    .phone-container {
        display: block;
        margin: auto;
        margin-top: 3rem;
    }
    .iphone {
        left: -2rem;
    }
    .gradient {
        left: 1%;
    }
    .left-component{
        width: 100%;
    }
    .track-crypto {
        font-size: 3rem;
        text-align: center;
    }
    .real-time {
        font-size: 3rem;
        text-align: center;
    }
    .info-text{
        text-align: center;
    }
    .btn-flex{
        justify-content: center;
    }
    .track-crypto:hover{
        -webkit-text-stroke-width: 1px;
    }
    
}

